# NeonDB JDBC URL example:
# jdbc:postgresql://<host>/<db>?sslmode=require&channelBinding=require
NEON_DATABASE_URL=jdbc:postgresql://ep-xxxxxx-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channelBinding=require
NEON_DATABASE_USERNAME=neondb_owner
NEON_DATABASE_PASSWORD=replace_with_real_password
USUARIOS_SERVICE_PORT=8081
