# Perfil Spring
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

# Opción A: PostgreSQL local creado por docker-compose
POSTGRES_DB=alovecino_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/alovecino_dev
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Opción B: Neon / PostgreSQL externo
# SPRING_DATASOURCE_URL=jdbc:postgresql://HOST/DB?sslmode=require
# SPRING_DATASOURCE_USERNAME=USUARIO
# SPRING_DATASOURCE_PASSWORD=PASSWORD

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# Servicios externos
AUTH_JWK_SET_URI=http://auth-service:8081/.well-known/jwks.json
AUTH_JWT_ISSUER=alovecino-auth
AUTH_JWT_AUDIENCE=alovecino-api
GEO_SERVICE_URL=http://geo-service:8083
GEO_SERVICE_TIMEOUT_MS=2500
